%h1= "Show::<%= singular_name %>"

%dl
<% for attribute in attributes -%>
  %dt= <%= class_name %>.human_attribute_name :<%= attribute.name %>
  %dd= @<%= singular_name %>.<%= attribute.name %>
<% end -%>
%p
  = link_to 'Back', <%= plural_name %>_path
  = link_to 'Edit', edit_<%= singular_name %>_path(@<%= singular_name %>)
